body {
    background: rgb(36,0,0);
    background: linear-gradient(210deg, rgba(36,0,0,1) 0%, rgba(255,0,0,1) 100%);
}

#qrcode {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    position: fixed;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}